.statusContainer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 85px;
    bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.089);
}
.statusContainer div:first-child {
    padding-left: 7%;
}
.statusContainer div:first-child :nth-child(1){
   color: #5B5B5B;
   font-size: 16px;
   font-weight: 800;
   letter-spacing: 2px;
}
.statusContainer div:first-child :nth-child(2){
    color: #AB1725;
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: 3.75px;
}
.statusContainer div:nth-child(2){
    color: #0F1C2D;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2.32px;
}
.statusContainer div:nth-child(3) p{
    color: #0F1C2D;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2.32px;
}
.statusContainer div:nth-child(3) b{
    color: #AB1725;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2.32px;
    text-decoration: none;
}
.statusItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 4%;
    height: 80px;
    width: 150px;
}
.statusItem p{
    margin: 0;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    cursor: pointer;
    padding-left: 10%;
}
.nextIcon{
    letter-spacing: 3.75px;
    margin: auto;
    padding-right:10px; 
    font-size: 20px;
}
.colorDot{
    height: 18px;
    width: 18px;
}
.wheelImg{
    width: 45px;
    height:auto;
}
