

@media  screen and (min-width: 320px){
    .mainContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgContainer{
        padding-top: 70px;
        display: flex;
        
        flex-direction: column;
    }
    .carImg{
        transform: scale(0.9)
    }
    .imgDescription{
        margin: -85px 0px 0px 125px;
        font-size: 22px;
        font-weight: normal;
    }
    .imgDescription p{
        margin: 0px;
    }
    .imgDescription p:nth-child(1){
        color: #0F1C2D;
    }
    .imgDescription p:nth-child(2){
        color: #AB1725;
    }
    .itemsContainer{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .colorDescription {
        position: absolute;
        margin-top: -400px;
        width: 370px;
    }
    .colorDescription p:nth-child(1){
        font-size: 45px;
        font-weight: lighter;
        letter-spacing: 3.75px;
        color: #0F1C2D;
        margin: 0px;
    }
    .colorDescription p:nth-child(2){
        font-size: 16px;
        font-weight: normal;
        color: #A8A8A8;
        margin: 0px;
    }
    .colorPicker{
        width: 450px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .colorImg{
        position: absolute;
        width: 50px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .colorItems{
        position: relative;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #f7f9fa;
    }
    .selectedColorItems{
        position: relative;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #2E3948;
    }
}
@media  screen and (min-width: 768px){
    .mainContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgContainer{
        padding-top: 70px;
        display: flex;
        flex-direction: column;
    }
    .carImg{
        transform: scale(1)
    }
    .imgDescription{
        margin: -85px 0px 0px 125px;
        font-size: 22px;
        font-weight: normal;
    }
    .imgDescription p{
        margin: 0px;
    }
    .imgDescription p:nth-child(1){
        color: #0F1C2D;
    }
    .imgDescription p:nth-child(2){
        color: #AB1725;
    }
    .itemsContainer{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .colorDescription {
        position: absolute;
        margin-top: -400px;
        width: 400px;
    }
    .colorDescription p:nth-child(1){
        font-size: 45px;
        font-weight: lighter;
        letter-spacing: 3.75px;
        color: #0F1C2D;
        margin: 0px;
    }
    .colorDescription p:nth-child(2){
        font-size: 16px;
        font-weight: normal;
        color: #A8A8A8;
        margin: 0px;
    }
    .colorPicker{
        width: 500px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .colorImg{
        position: absolute;
        width: 50px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .colorItems{
        position: relative;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #f7f9fa;
    }
    .selectedColorItems{
        position: relative;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #2E3948;
    }
}
@media  screen and (min-width: 1024px){
    .mainContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .imgContainer{
        display: flex;
        padding-top: 80px;
        flex-direction: column;
    }
    .imgDescription{
        margin: -35px 0px 0px 17%;
        font-size: 22px;
        font-weight: normal;
    }
    .imgDescription p{
        margin: 0px;
    }
    .imgDescription p:nth-child(1){
        color: #0F1C2D;
    }
    .imgDescription p:nth-child(2){
        color: #AB1725;
    }
    .itemsContainer{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .colorDescription{
        width: 30%;
        margin: -150px 0px 0px 0px;
    }
    .colorDescriptionp:nth-child(1){
        font-size: 45px;
        font-weight: lighter;
        letter-spacing: 3.75px;
        color: #0F1C2D;
        margin: 0px 0px 20px 0px;
    }
    .colorDescriptionp:nth-child(2){
        font-size: 16px;
        font-weight: normal;
        color: #A8A8A8;
        margin: 0;
    }
    .colorPicker{
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .colorImg{
        position: absolute;
        width: 50px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .colorItems{
        position: relative;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #f7f9fa;
    }
    .selectedColorItems{
        position: relative;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: #2E3948;
    }
}